In [28]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data = pd.get_dummies(data, columns=['whoAmI'], drop_first= True) # с помощью get_dummies
data.head(20)

    whoAmI_robot
0              1
1              0
2              0
3              1
4              0
5              0
6              1
7              0
8              0
9              1
10             0
11             0
12             0
13             0
14             1
15             1
16             1
17             1
18             1
19             1

In [23]:
# с помощью цикла перед заливанием в базу данных
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
for i in range(len(lst)):
  if lst[i] == 'robot': lst[i] = 0
  else: lst[i] = 1
data = pd.DataFrame({'whoAmI':lst})
data.head(20)

    whoAmI
0        0
1        1
2        1
3        0
4        0
5        1
6        1
7        0
8        1
9        0
10       0
11       1
12       0
13       0
14       0
15       0
16       1
17       1
18       1
19       1

In [22]:
# уже после заливания в базу данных
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst}) # исходные данные
data.loc[(data['whoAmI'] == 'robot'), 'whoAmI'] = 0
data.loc[(data['whoAmI'] == 'human'), 'whoAmI'] = 1
data.head(20)

   whoAmI
0       0
1       0
2       0
3       1
4       1
5       1
6       1
7       1
8       0
9       0
10      0
11      1
12      1
13      1
14      1
15      0
16      0
17      1
18      0
19      0